div.container(style="padding-bottom: 2rem;")
        h1#status(style="padding-bottom: 1rem;") 依頼済み備品一覧
        for req in requests
            div.card(style='margin-bottom: 1rem;')
                div.card-block
                    h3.card-title #{req.equipment}
                    table.table
                        tr
                            td(style="width: 20%;") 数量
                            td(style="width: 80%;") #{req.quantity}
                        tr
                            td(style="width: 20%;") 依頼者
                            td(style="width: 80%;") #{req.user}
                        tr
                            td(style="width: 20%;") 備考
                            td(style="width: 80%;") #{req.remarks}
                        tr
                            td(style="width: 20%;") URL
                            td(style="width: 80%;")
                                a(href="#") #{req.url}
                if(req.status == 2)
                    div.card-footer.list-group-item-info
                else if(req.status == 3)
                    div.card-footer.list-group-item-success
                else if(req.status == 4)
                    div.card-footer.list-group-item-danger
                else
                    div.card-footer
                        ul.nav.nav-pills
                            li.nav-item(class=req.status === 1 ? 'active' : 'text-muted')
                                a(href="#").nav-link.text-muted 依頼
                            li.nav-item(class=req.status === 2 ? 'active' : 'text-muted')
                                a(href="#").nav-link.text-muted 発注
                            li.nav-item(class=req.status === 3 ? 'active' : 'text-muted')
                                a(href="#").nav-link.text-muted 完了
                            li.nav-item(class=req.status === 4 ? 'active' : 'text-muted')
                                a(href="#").nav-link.text-muted 却下